<label for="name">
	<f:translate key="tx_vmfdssermons_domain_model_preacher.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="email">
	<f:translate key="tx_vmfdssermons_domain_model_preacher.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="organization">
	<f:translate key="tx_vmfdssermons_domain_model_preacher.organization" />
</label><br />
	<f:form.textfield property="organization" /><br />
<label for="url">
	<f:translate key="tx_vmfdssermons_domain_model_preacher.url" />
</label><br />
	<f:form.textfield property="url" /><br />
<label for="blog">
	<f:translate key="tx_vmfdssermons_domain_model_preacher.blog" />
</label><br />
	<f:form.textfield property="blog" /><br />
<label for="image">
	<f:translate key="tx_vmfdssermons_domain_model_preacher.image" />
</label><br />
	<f:form.upload property="image" /><br />