<f:layout name="Default" />

<f:section name="main">
        <f:flashMessages />
        <f:if condition="{settings.sermon.list.paginate}">
            <f:then>                
                <f:widget.paginate objects="{sermons}" as="paginatedSermons" configuration="{itemsPerPage: settings.sermon.list.paginateItems, insertAbove: 0, insertBelow: 1, maximumNumberOfLinks: 5}">
                <div class="row">
                    <f:for each="{paginatedSermons}" as="sermon" iteration="i">
                        <f:render partial="Sermon/ListPreview" arguments="{sermon: sermon}" />
                    </f:for>
                </div>
                </f:widget.paginate>                
            </f:then>
            <f:else>
                <div class="row">
                    <f:for each="{sermons}" as="sermon" iteration="i">
                        <f:render partial="Sermon/ListPreview" arguments="{sermon: sermon}" />
                    </f:for>
                </div>                
            </f:else>
        </f:if>
</f:section>