<table class="tx-vmfds-sermons" >
	<tr>
		<td>
			<f:translate key="tx_vmfdssermons_domain_model_series.title" />
		</td>
		<td>
			{series.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmfdssermons_domain_model_series.subtitle" />
		</td>
		<td>
			{series.subtitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmfdssermons_domain_model_series.startdate" />
		</td>
		<td>
			{series.startdate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmfdssermons_domain_model_series.enddate" />
		</td>
		<td>
			{series.enddate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmfdssermons_domain_model_series.description" />
		</td>
		<td>
			{series.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmfdssermons_domain_model_series.image" />
		</td>
		<td>
			{series.image}
		</td>
	</tr>
</table>