<f:layout name="Default" />

<f:section name="main">
        <f:flashMessages />
        <f:if condition="{settings.series.list.paginate}">
            <f:then>                
                <f:widget.paginate objects="{seriess}" as="paginatedSeries" configuration="{itemsPerPage: settings.sermon.list.paginateItems, insertAbove: 0, insertBelow: 1, maximumNumberOfLinks: 5}">
                <div class="row">
                    <f:for each="{paginatedSeries}" as="series" iteration="i">
                        <f:render partial="Series/ListPreview" arguments="{series: series}" />
                    </f:for>
                </div>
                </f:widget.paginate>                
            </f:then>
            <f:else>
                <div class="row">
                    <f:for each="{seriess}" as="series" iteration="i">
                        <f:render partial="Series/ListPreview" arguments="{series: series}" />
                    </f:for>
                </div>                
            </f:else>
        </f:if>
</f:section>