h1, h2, h3 {
    margin: 0;
}

ul li {
	list-style-type: square;
}

div.column {
	margin: 0; 
	width: 7.8cm; 
	float: left; 
	padding: 1cm;
	padding-bottom: 0; 
	min-height: 20cm; 
	height: 20cm;
}

h1.sectionheader {
	font-size: 20pt; 
	margin: 0;
	font-weight: normal;
}

div.smallprint {
	font-size: 6pt; 
	font-color: gray;
}

p.sectionintro {
	font-style: italic;
	margin-top: 0;
	padding-top: 0;
	font-size: 9pt;
}

div.sermonnotes {
	font-size: 14pt; 
	line-height: 18pt;
}

.welcome {
	width: 100%; 
	margin: 0;
	text-align: left;
	
}

.titlecontainer {
	width: 100%;
}

.title {
	width: 100%; 
	margin: 0;
	text-align: left;
}

.subtitle {
	width: 100%; 
	margin: 0;
	text-align: left;
}

.titleimage {
	margin-bottom: 20px;
}

.event-date {
    float: left;
    color: #fff;
    text-align: center;
    font-size: 49px;
    background: #1a1a1a;
    border-radius: 50%;
    padding-top: 7px;
    margin-right: 25px;
    width: 104px;
    height: 104px;    
}

.event-date span {
    font-size: 20px;
    display: block;
    text-transform: uppercase;
    line-height: 1px;
    position: relative;
    top: -5px;
}