<p>Hier kannst du eine Predigtaufnahme hochladen, die dann automatisch einer Predigt zugeordnet wird. Angezeigt werden nur Predigten, für die noch keine Aufnahme hinterlegt ist.</p>
<f:form enctype="multipart/form-data" controller="Sermon" action="audioUploadDone">
    <label for="sermon">Predigt: </label><f:form.select name="sermon" options="{sermons}" optionLabelField="selectString" /><br />
    <div style="height:20px;">&nbsp;</div>
    <label for="audiorecording">Aufnahme: </label><f:form.upload id="audiorecording" name="audiorecording" /><br />
    <div id="fileuploader">Aufnahme hochladen</div>

    <f:form.button id="origUploadButton">Hochladen</f:form.button>
    <div style="height:250px;"></div> 
</f:form>