<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
    <h1>Listing for Sermon</h1>

    <f:flashMessages />

    <table  class="tx_vmfdssermons" >
        <tr>
            <th><f:translate key="tx_vmfdssermons_domain_model_sermon.title" /></th>
        <th><f:translate key="tx_vmfdssermons_domain_model_sermon.subtitle" /></th>
        <th><f:translate key="tx_vmfdssermons_domain_model_sermon.preached" /></th>
        <th><f:translate key="tx_vmfdssermons_domain_model_sermon.description" /></th>
        <th><f:translate key="tx_vmfdssermons_domain_model_sermon.reference" /></th>
        <th><f:translate key="tx_vmfdssermons_domain_model_sermon.keywords" /></th>
        <th><f:translate key="tx_vmfdssermons_domain_model_sermon.image" /></th>
        <th><f:translate key="tx_vmfdssermons_domain_model_sermon.handout" /></th>
        <th><f:translate key="tx_vmfdssermons_domain_model_sermon.audiorecording" /></th>
        <th><f:translate key="tx_vmfdssermons_domain_model_sermon.videorecording" /></th>
        <th> </th>
        <th> </th>
        </tr>

        <f:for each="{sermons}" as="sermon">
            <tr>
                <td><f:link.action action="show" arguments="{sermon : sermon}"> {sermon.title}</f:link.action></td>
            <td><f:link.action action="show" arguments="{sermon : sermon}"> {sermon.subtitle}</f:link.action></td>
            <td><f:link.action action="show" arguments="{sermon : sermon}"> {sermon.preached -> f:format.date()}</f:link.action></td>
            <td><f:link.action action="show" arguments="{sermon : sermon}"> {sermon.description}</f:link.action></td>
            <td><f:link.action action="show" arguments="{sermon : sermon}"> {sermon.reference}</f:link.action></td>
            <td><f:link.action action="show" arguments="{sermon : sermon}"> {sermon.keywords}</f:link.action></td>
            <td><f:link.action action="show" arguments="{sermon : sermon}"> {sermon.image}</f:link.action></td>
            <td><f:link.action action="show" arguments="{sermon : sermon}"> {sermon.handout}</f:link.action></td>
            <td><f:link.action action="show" arguments="{sermon : sermon}"> {sermon.audiorecording}</f:link.action></td>
            <td><f:link.action action="show" arguments="{sermon : sermon}"> {sermon.videorecording}</f:link.action></td>
            <td><f:link.action action="edit" arguments="{sermon : sermon}">Edit</f:link.action></td>
            <td><f:link.action action="delete" arguments="{sermon : sermon}">Delete</f:link.action></td>
            </tr>
        </f:for>
    </table>

    <f:link.action action="new">New Sermon</f:link.action>
</f:section>