<div xmlns:legal="http://typo3.org/ns/VMFDS/Legalese/ViewHelpers">
    <div class="col-md-3">
        <div class="thumbnail">

            <legal:copyrightedImage src="predigten/Titelbilder/{sermon.image}" class="img-responsive"
                                    imageLink="{f:uri.action(controller: 'Sermon', action: 'show',  arguments: '{sermon : sermon}', pageUid: '{settings.pid.sermon.single}')}"/>
            <div class="caption">
                <h3>
                    <f:link.action controller="Sermon" action="show" arguments="{sermon : sermon}"
                                   pageUid="{settings.pid.sermon.single}">{sermon.title}
                    </f:link.action>
                </h3>
                <f:for each="{sermon.series}" as="series">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <f:format.date format="%d.%m.%Y">{sermon.preached}</f:format.date>
                    <br/>
                </f:for>
                <f:if condition="{sermon.preacher}">
                    <f:for each="{sermon.preacher}" as="preacher">
                        <i class="fa fa-microphone" aria-hidden="true"></i>
                        <f:link.action controller="Preacher" action="show" arguments="{preacher: preacher}"
                                       pageUid="{settings.pid.preacher.single}">{preacher.name}
                        </f:link.action>
                        <br/>
                    </f:for>
                </f:if>
                <f:if condition="{sermon.series}">
                    <f:for each="{sermon.series}" as="series">
                        <i class="fa fa-folder" aria-hidden="true"></i>
                        <f:link.action controller="Series" action="show" arguments="{series: series}"
                                       pageUid="{settings.pid.series.single}">{series.title}
                        </f:link.action>
                        <br/>
                    </f:for>
                </f:if>
                <br/>

                {sermon.description -> f:format.html() -> f:format.crop(maxCharacters: 200, respectWordBoundaries:
                true)}

                <f:if condition="{showAdminButton}">
                    <f:if condition="{sermon.preached.timestamp} > {now}">
                        <f:link.action class="btn btn-primary" controller="Sermon" action="edit"
                                       pageUid="{settings.pid.sermon.edit}">Daten ergänzen
                        </f:link.action>
                    </f:if>
                </f:if>
            </div>
        </div>
    </div>
</div>