<table class="tx-vmfds-sermons" >
    <tr>
        <td>
    <f:translate key="tx_vmfdssermons_domain_model_sermon.title" />
</td>
<td>
    {sermon.title}
</td>
</tr>
<tr>
    <td>
<f:translate key="tx_vmfdssermons_domain_model_sermon.subtitle" />
</td>
<td>
    {sermon.subtitle}
</td>
</tr>
<tr>
    <td>
<f:translate key="tx_vmfdssermons_domain_model_sermon.preached" />
</td>
<td>
    {sermon.preached -> f:format.date()}
</td>
</tr>
<tr>
    <td>
<f:translate key="tx_vmfdssermons_domain_model_sermon.description" />
</td>
<td>
    {sermon.description}
</td>
</tr>
<tr>
    <td>
<f:translate key="tx_vmfdssermons_domain_model_sermon.reference" />
</td>
<td>
    {sermon.reference}
</td>
</tr>
<tr>
    <td>
<f:translate key="tx_vmfdssermons_domain_model_sermon.keywords" />
</td>
<td>
    {sermon.keywords}
</td>
</tr>
<tr>
    <td>
<f:translate key="tx_vmfdssermons_domain_model_sermon.image" />
</td>
<td>
    {sermon.image}
</td>
</tr>
<tr>
    <td>
<f:translate key="tx_vmfdssermons_domain_model_sermon.handout" />
</td>
<td>
    {sermon.handout}
</td>
</tr>
<tr>
    <td>
<f:translate key="tx_vmfdssermons_domain_model_sermon.audiorecording" />
</td>
<td>
    {sermon.audiorecording}
</td>
</tr>
<tr>
    <td>
<f:translate key="tx_vmfdssermons_domain_model_sermon.videorecording" />
</td>
<td>
    {sermon.videorecording}
</td>
</tr>
</table>