{namespace s=TYPO3\VmfdsSermons\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<!-- some Google+/schema.org markup -->
<meta itemprop="isFamilyFriendly" content="True" />
<meta itemprop="genre" content="sermon" />
<meta itemprop="contentRating" content="G" />


<!-- Facebook Graph -->
<v:page.header.meta property="og:type" content="article" />
<f:if condition="{series.subtitle}"><f:then><v:page.header.meta property="og:title" content="{series.title}: {series.subtitle}" /></f:then><f:else><v:page.header.meta property="og:title" content="{series.title}" /></f:else></f:if>
<v:page.header.meta property="article:section" content="Predigten" />
<v:page.header.meta property="og:image" content="{v:uri.image(src: '/predigten/Titelbilder/{series.image}')}" />
<v:page.header.meta property="og:url" content="{v:page.absoluteUrl()}" />
<v:page.header.meta property="og:description" content="{series.description}" />
<v:page.header.meta property="og:site_name" content="Das Wort zum Montag: Predigten aus der Volksmission Freudenstadt" />
<v:page.header.meta property="og:locale" content="de_DE" />

<!-- Twitter Cards-->
<v:page.header.meta name="twitter:card" content="summary_large_image" />
<v:page.header.meta name="twitter:site" content="@volksmissionfds" />
<f:if condition="{series.subtitle}"><f:then><v:page.header.meta name="twitter:title" content="{series.title}: {series.subtitle}" /></f:then><f:else><v:page.header.meta name="twitter:title" content="{series.title}" /></f:else></f:if>
<v:page.header.meta name="twitter:description" content="{series.description}" />
<v:page.header.meta name="twitter:creator" content="@volksmissionfds" />
<v:page.header.meta name="twitter:image:src" content="{v:uri.image(src: '/predigten/Titelbilder/{series.image}')}" />
<v:page.header.meta name="twitter:domain" content="www.wortzummontag.de" />


<f:if condition="{series.image}">
    <f:then>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item active">    
                    <f:image src="predigten/Titelbilder/{series.image}" class="img-responsive" width="1400" />
                    <div class="carousel-caption">            
                        <h1>{series.title}</h1>
                        <f:if condition="{series.subtitle}">{series.subtitle}</f:if>
                    </div>    
                    <f:if condition="{series.imageSource}"><small class="page-image-source">Bild: {series.imageSource}</small><br /><br /></f:if>    
                </div>
            </div>
        </div>
        <div class="container">
            <h1>{series.title}</h1>
    </f:then>
    <f:else>
        <div class="container">
            <h1>{series.title}</h1>
            <f:if condition="{series.subtitle}"><h2 class="sermon-subtitle">{series.subtitle}</h2></f:if>

    </f:else>
</f:if>
<p>{series.startdate -> f:format.date(format: 'd.m.Y')} - {series.enddate -> f:format.date(format: 'd.m.Y')}</p>

{series.description -> f:format.html()}
<f:if condition="{sermons}"></f:if>
<h3>Predigten in dieser Reihe</h3>
                <div class="row">
                    <f:for each="{sermons}" as="sermon" iteration="i">
                        <f:render partial="Sermon/ListPreview" arguments="{sermon: sermon}" />
                    </f:for>
                </div>                

</div>